<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MediaPortal</title>

    <style>
        .media-items-list {
            border: 1px solid black;
            width: 200px;
            float: left;
            margin: 2px;
        }

        .media-items-list-item {
            border: 1px solid black;
            margin: 2px;
            cursor: pointer;
        }

        .media-details {
            border: 1px solid black;
            width: 200px;
            float: left;
            margin: 2px;

        }

    </style>
</head>
<body>
    <div id="app">
        <media-list :media-items="mediaItems" v-on:media-item-click="bindMediaItem($event)"></media-list>
        <media-details :media-item="mediaItem" v-if="mediaItem"></media-details>
    </div>

    <script type="text/x-template" id="media-list-template">
        <div class="media-items-list">
            Items
            <div class="media-items-list-item" v-for="mediaItem in mediaItems" v-on:click="$emit('media-item-click', mediaItem.id)">
                {{mediaItem.title}}
            </div>
        </div>
    </script>

    <script type="text/x-template" id="media-details-template">
        <div class="media-details">
            <h2>{{mediaItem.title}}</h2>

            {{mediaItem.description}}
        </div>
    </script>


    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
    <script>
        var apiBaseUrl =' https://localhost:44323/api';

        var mediaListComponent = function(resolve) {
            axios.get('media_list_template.html').then(function(response) {
                resolve({
                    template: response.data,
                    props: ['media-items']
                });
            });
        };

        var mediaDetailsComponent = {
            template: '#media-details-template',
            props: ['media-item']
        };

        new Vue({
            el: '#app',
            components: {
                'media-list': mediaListComponent,
                'media-details': mediaDetailsComponent
            },
            data: {
                mediaItems: null,
                mediaItem: null
            },
            created: function() {
                this.bindMediaItems();
            },
            methods: {
                bindMediaItems: function() {
                    axios.get(apiBaseUrl + '/media').then(function(response) {
                        this.mediaItems = response.data;
                    }.bind(this));
                },

                bindMediaItem: function(id) {
                    var self = this;
                    axios.get(apiBaseUrl + '/media/' + id).then(function(response) {
                        self.mediaItem = response.data;
                    });
                }
            }
        });
    </script>
</body>
</html>