<div class="media-items-list">
    Items
    <div class="media-items-list-item" v-for="mediaItem in mediaItems" v-on:click="$emit('media-item-click', mediaItem.id)">
        {{mediaItem.title}}
    </div>
</div>