<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MediaPortal</title>

    <style>
        #app {
            overflow: hidden;
        }

        .media-items-list {
            width: 200px;
            float: left;
        }

        .media-items-list-item {
            border: 1px solid black;
            margin: 2px;
            padding: 2px;
        }

        .media-items-list-item:hover {
            cursor: pointer;
        }

        .media-details {
            border: 1px solid black;
            width: 200px;
            margin-left: 20px;
            padding: 2px;
            float: left;
        }
    </style>

</head>
<body>
    <div id="app">
        <div class="media-items-list">
            <div class="media-items-list-item" v-for="media in mediaItems" v-on:click="bindMediaItem(media.id)">
                {{media.title}}
            </div>
        </div>
        
        <div v-if="mediaItem" class="media-details">
            <h2>{{mediaItem.title}}</h2>

            {{mediaItem.description}}
        </div>
    </div>

    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    

    <script>
        var apiBaseUrl = 'https://localhost:44323/api'

        new Vue({
            el: '#app',
            data: {
                mediaItems: [],
                mediaItem: null
            },
            created: function() {
                this.bindMediaItems();
            },
            methods: {
                bindMediaItems: function() {
                    axios.get(apiBaseUrl + '/media').then(function(response) {
                        console.log('data', response.data);
                        this.mediaItems = response.data;
                    }.bind(this));
                },

                bindMediaItem: function(id) {
                    axios.get(apiBaseUrl + '/media/' + id).then(function(response) {
                        this.mediaItem = response.data;
                    }.bind(this));
                }
            }
        });

        
    </script>
</body>
</html>